<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="p-3 text-bg-dark bodyHeader" th:fragment="bodyHeader">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <h3><a class="text-warning" href="/articles">Mykim's Project Board</a></h3>
            </div>

            <div class="text-end" sec:authorize="isAnonymous()">
                <button type="button" class="btn btn-outline-light me-2 btn-sm" onclick="location.href='/users/sign-up'">Sign-up</button>
                <button type="button" class="btn btn-warning btn-sm" onclick="location.href='/users/sign-in'">Sign-in</button>
            </div>

            <div class="text-end" sec:authorize="isAuthenticated()">
                <span>반갑습니다. <span th:text="${#authentication.principal.nickname}">mykim</span> 님</span>

                <form th:action="@{/logout}" th:method="post">
                    <button type="submit" class="btn btn-warning btn-sm">Sign-out</button>
                </form>
            </div>
        </div>
    </div>
</header>