<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"/>

    <body>
        <header id="bodyHeader" th:replace="fragments/bodyHeader :: bodyHeader"/>

        <main>
            <form>
                <input type="text" name="username">
                <input type="password" name="password">
                <button type="submit">로그인</button>
            </form>
        </main>

        <footer id="footer" th:replace="fragments/bodyFooter :: footer"/>
    </body>
</html>