<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<head>
    <link rel="stylesheet" type="text/css" href="/css/user.css"/>
</head>

<body>
<main class="signin-area signin-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <form th:action th:object="${user}" method="post" id="signUpForm">
                    <div class="signin-form form-style-two rounded-buttons">
                        <div>
                            <h1>회원가입</h1>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>계정을 입력해주세요.</label>
                                    <div class="input-items default">
                                        <input type="text" placeholder="Username" th:field="*{username}" th:errorclass="field-error" class="form-control" autocomplete="off"/>
                                        <i class="lni lni-user"></i>
                                        <p class="field-error" th:errors="*{username}">아이디 오류</p>
                                        <p class="duplicate_error text-danger visually-hidden" id="duplicate_error_username"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>비밀번호를 입력해주세요.</label>
                                    <div class="input-items default">
                                        <input type="password" placeholder="Password" th:field="*{password}" th:errorclass="field-error" autocomplete="off"/>
                                        <i class="lni lni-key"></i>
                                        <p class="field-error" th:errors="*{password}">비밀번호 오류</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>
                                        닉네임을 입력해주세요.
                                    </label>
                                    <div class="input-items default">
                                        <input type="text" placeholder="Nickname" name="nickname" th:field="*{nickname}" th:errorclass="field-error" autocomplete="off"/>
                                        <i class="lni lni-user"></i>
                                        <p class="field-error" th:errors="*{nickname}">닉네임 오류</p>
                                        <p class="duplicate_error text-danger visually-hidden" id="duplicate_error_nickname"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>
                                        이메일을 입력해주세요.
                                    </label>
                                    <div class="input-items default">
                                        <input type="email" placeholder="abc@abc.com" th:field="*{email}" th:errorclass="field-error" autocomplete="off"/>
                                        <i class="lni lni-envelope"></i>
                                        <p class="field-error" th:errors="*{email}">이메일 오류</p>
                                        <p class="duplicate_error text-danger visually-hidden" id="duplicate_error_email"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>
                                        메모를 입력해주세요.
                                    </label>
                                    <div class="input-items default">
                                        <input type="text" placeholder="my memo" autocomplete="off" name="memo"/>
                                        <i class="lni lni-notepad"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-input rounded-buttons">
                                    <button class="btn primary-btn rounded-full" type="button" onclick="signUp(this)">회원가입</button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-input rounded-buttons">
                                    <button class="btn primary-btn-outline rounded-full" type="button" onclick="location.href='/users/sign-in'">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="/js/signUp.js"></script>
</body>
</html>