<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<head>
    <link rel="stylesheet" type="text/css" href="/css/articles.css"/>
</head>

<body>
<header id="bodyHeader" th:replace="fragments/bodyHeader :: bodyHeader"/>

<main class="article-area article-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="#">
                    <div class="article-form form-style-two rounded-buttons">
                        <div>
                            <h1>게시글 작성</h1>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>게시글 제목을 입력해주세요.</label>
                                    <div class="input-items default">
                                        <input type="text" placeholder="title" name="title"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>게시글 본문을 입력해주세요.</label>
                                    <div class="input-items default">
                                        <textarea name="content"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-input">
                                    <label>해시태그를 입력해주세요.</label>
                                    <div class="input-items default">
                                        <input type="text" placeholder="#hashtag" name="hashtag"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-input rounded-buttons">
                                    <button class="btn primary-btn rounded-full" type="submit">게시글 작성</button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-input rounded-buttons">
                                    <button class="btn primary-btn-outline rounded-full" type="button" onclick="location.href='/articles'">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div id="bodyFooter" th:replace="fragments/bodyFooter :: bodyFooter"/>
</body>
</html>