<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>

<head>
    <link rel="stylesheet" type="text/css" href="/css/articles.css"/>
</head>

<body>
<header id="bodyHeader" th:replace="fragments/bodyHeader :: bodyHeader"/>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    let articleId = [[${article.id}]];

    [# sec:authorize="isAnonymous()"]
    let signInUserId = 0;
    [/]
    [# sec:authorize="isAuthenticated()"]
    let signInUserId = [[${#authentication.principal.id}]];
    [/]
</script>

<main class="article-area article-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="article-form form-style-two rounded-buttons">
                    <div>
                        <h1><span th:text="${article.id}"></span>번 게시글</h1>
                    </div>

                    <div class="row py-3 px-3">
                        <div class="col-md-9">
                            <div class="form-input">
                                <label>게시글 제목</label>
                                <div class="input-items default">
                                    <input type="text" placeholder="title" name="title" disabled th:value="${article.title}"/>
                                </div>
                            </div>

                            <div class="form-input">
                                <label>게시글 본문</label>
                                <div class="input-items default">
                                    <textarea name="content" disabled th:text="${article.content}"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-input">
                                <label>작성자</label>
                                <div class="input-items default">
                                    <p th:text="${article.nickname}">mykim</p>
                                </div>
                            </div>
                            <div class="form-input">
                                <label>최종수정일</label>
                                <div class="input-items default">
                                    <p th:text="${#temporals.format(article.lastModifiedAt, 'yyyy/MM/dd HH:mm')}">2023-01-01</p>
                                </div>
                            </div>
                            <div class="form-input">
                                <label>해시태그</label>
                                <div class="input-items default">
                                    <p th:text="${article.hashtag}">hashtag</p>
                                </div>
                            </div>
                            <br>

                            <div class="form-input rounded-buttons" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} == ${article.userId}">
                                <button class="btn primary-btn rounded-full"
                                        th:onclick="|location.href='@{/articles/{id}/edit(id=${article.id},offset=${param.offset},limit=${param.limit},searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort})}'|"
                                        type="button">게시글 수정</button>
                            </div>

                            <div class="form-input rounded-buttons" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} == ${article.userId}">
                                <form id="search-form" th:action="@{/articles/{id}/delete(id=${article.id})}" th:method="post">
                                    <button class="btn primary-btn rounded-full" type="submit">게시글 삭제</button>
                                </form>
                            </div>

                            <div class="form-input rounded-buttons">
                                <button class="btn primary-btn-outline rounded-full" type="button"
                                        th:onclick="|location.href='@{/articles (offset=${param.offset},limit=${param.limit},searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort})}'|">게시글 목록</button>
                            </div>
                        </div>
                    </div>

                    <div class="row py-3 px-3">
                        <div class="col-md-9">
                            <div class="form-input">
                                <label>댓글을 작성해주세요.</label>
                                <div class="input-items default">
                                    <textarea id="article-comment-content" style="height: 100px;"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="margin-top: 30px;">
                            <div class="form-input rounded-buttons">
                                <button id="article-comment-create-button" class="btn primary-btn-outline rounded-full" type="button">댓글 작성</button>
                            </div>
                        </div>
                    </div>

                    <div class="row py-3 px-3">
                        <div class="col-md-12">
                            <ul id="articleCommentArea"></ul>
                        </div>

                        <div class="col-md-12">
                            <nav aria-label="Page navigation" id="articleCommentPaginationArea"></nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="/js/articleComment.js"></script>
<script type="text/javascript" src="/js/articleCommentApis.js"></script>

<div id="bodyFooter" th:replace="fragments/bodyFooter :: bodyFooter"/>
</body>
</html>