<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<head>
    <link rel="stylesheet" type="text/css" href="/css/articles.css"/>
</head>

<body>
<header id="bodyHeader" th:replace="fragments/bodyHeader :: bodyHeader"/>

<main class="article-area article-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="article-form form-style-two rounded-buttons">
                    <div>
                        <h1><span th:text="${article.id}"></span>번 게시글</h1>
                    </div>

                    <div class="row py-3 px-3">
                        <div class="col-md-9">
                            <div class="form-input">
                                <label>게시글 제목</label>
                                <div class="input-items default">
                                    <input type="text" placeholder="title" name="title" disabled th:value="${article.title}"/>
                                </div>
                            </div>

                            <div class="form-input">
                                <label>게시글 본문</label>
                                <div class="input-items default">
                                    <textarea name="content" disabled th:text="${article.content}"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-input">
                                <label>작성자</label>
                                <div class="input-items default">
                                    <p th:text="${article.createdBy}">mykim</p>
                                </div>
                            </div>
                            <div class="form-input">
                                <label>최종수정일</label>
                                <div class="input-items default">
                                    <p th:text="${#temporals.format(article.lastModifiedAt, 'yyyy-MM-dd HH:mm')}">2023-01-01</p>
                                </div>
                            </div>
                            <div class="form-input">
                                <label>해시태그</label>
                                <div class="input-items default">
                                    <p th:text="${article.hashtag}">hashtag</p>
                                </div>
                            </div>
                            <br>

                            <div class="form-input rounded-buttons">
                                <button class="btn primary-btn rounded-full"
                                        th:onclick="|location.href='@{/articles/{id}/edit(id=${article.id},offset=${param.offset},limit=${param.limit},searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort})}'|"
                                        type="button">게시글 수정</button>
                            </div>

                            <div class="form-input rounded-buttons">
                                <form id="search-form" th:action="@{/articles/{id}/delete(id=${article.id})}" th:method="post">
                                    <button class="btn primary-btn rounded-full" type="submit">게시글 삭제</button>
                                </form>
                            </div>

                            <div class="form-input rounded-buttons">
                                <button class="btn primary-btn-outline rounded-full" type="button"
                                        th:onclick="|location.href='@{/articles (offset=${param.offset},limit=${param.limit},searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort})}'|">게시글 목록</button>
                            </div>
                        </div>
                    </div>

                    <form>
                        <div class="row py-3 px-3">
                            <div class="col-md-9">
                                <div class="form-input">
                                    <label>댓글을 작성해주세요.</label>
                                    <div class="input-items default">
                                        <textarea name="article-comment-content" style="height: 100px;"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" style="margin-top: 30px;">
                                <div class="form-input rounded-buttons">
                                    <button class="btn primary-btn-outline rounded-full" type="submit">댓글 작성</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row py-3 px-3">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <div class="row my-3">
                                        <div class="row col-md-12 col-lg-12">
                                            <b>Jyc</b>
                                            <span>2022/01/01</span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row my-3">
                                        <div class="row col-md-12 col-lg-12">
                                            <b>Jyc</b>
                                            <span>2022/01/01</span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row my-3">
                                        <div class="row col-md-12 col-lg-12">
                                            <b>Jyc</b>
                                            <span>2022/01/01</span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row my-3">
                                        <div class="row col-md-12 col-lg-12">
                                            <b>Jyc</b>
                                            <span>2022/01/01</span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row my-3">
                                        <div class="row col-md-12 col-lg-12">
                                            <b>Jyc</b>
                                            <span>2022/01/01</span>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">이전글</span>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span class="sr-only">다음글</span>
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="bodyFooter" th:replace="fragments/bodyFooter :: bodyFooter"/>
</body>
</html>