<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<body>
<div class="container">
    <header id="bodyHeader" th:replace="fragments/bodyHeader :: bodyHeader"/>
</div>

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <th class="col">번호</th>
                <th class="col-6">제목</th>
                <th class="col-2">해시태그</th>
                <th class="col">작성자</th>
                <th class="col">작성일</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>첫번째글입니다.</td>
                    <td>#java</td>
                    <td>mykim</td>
                    <td>2023-04-01</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>두번째글입니다.</td>
                    <td>#spring</td>
                    <td>mykim2</td>
                    <td>2023-04-02</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>세번째글입니다.</td>
                    <td>#python</td>
                    <td>mykim3</td>
                    <td>2023-04-03</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>네번째글입니다.</td>
                    <td>#c</td>
                    <td>mykim4</td>
                    <td>2023-04-04</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>다섯번째글입니다.</td>
                    <td>#r</td>
                    <td>mykim5</td>
                    <td>2023-04-04</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="container">
    <footer id="bodyFooter" th:replace="fragments/bodyFooter :: bodyFooter"/>
</div>

</body>
</html>